@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SpaceGrotesk-Regular";
  src: url("./fonts/SpaceGrotesk-Regular.ttf");
}

@font-face {
  font-family: "SpaceGrotesk-SemiBold";
  src: url("./fonts/SpaceGrotesk-SemiBold.ttf");
}

* {
  inset: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  overflow: scroll;
}

::-webkit-scrollbar {
  width: 0px;
  display: none;
  background: transparent;
  /* make scrollbar transparent */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --font-space-regular: "SpaceGrotesk-Regular";
    --font-space-semibold: "SpaceGrotesk-SemiBold";
    --background: 51, 48%, 92%;
    --foreground: 222.2 84% 4.9%;
    --card: 205, 28%, 40%;
    --card-foreground: 205, 28%, 40%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 357, 100%, 67%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 210, 90%, 30%;
    --chart-2: 30, 100%, 50%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --font-space-regular: "SpaceGrotesk-Regular";
    --font-space-semibold: "SpaceGrotesk-SemiBold";
    --background: 222, 47%, 11%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 320, 100%, 15%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 0, 100%, 50%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 330, 100%, 35%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

.colorpicker {
  background-color: hsl(50, 100%, 50%);
}


next-route-announcer {
  position: static !important; 
  width: 0;
  height: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}
